<!DOCTYPE html>
<html>
<head>
  <title>Trafficlogger</title>
  <%= stylesheet_link_tag    "trafficlogger/application", :media => "all" %>
  <%= javascript_include_tag "trafficlogger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
